DEBUG = True
PORT = 80  # set port
PROC_NAME  = '' # program name
PT_ROUTE = ''   # ai model directory
ACCOUNT_SID = 'AC5f6ea393a0ed9c693dc1a6e375f1fc16' 
AUTH_TOKEN = '329bb3f529ff679ced275bd02a07cd42' 
CALL_FROM = '+14068047188'
