class FLASK_ENUM:
    DEBUG = False
    PORT = 3939  # set port
    PROC_NAME = ''


class AI_ENUM:
    PT_ROUTE = ''


class CALLS_ENUM:
    ACCOUNT_SID = ''
    AUTH_TOKEN = ''
    CALL_FROM = ''


class SQL:
    HOST = ''
    ID = ''
    PASSWORD = ''
    PORT = 2929
    DB_NAME = ''

