* {
    list-style: none;
}

.card-fixed-height {
    height: 80px !important;
    color: rgb(0, 17, 255) !important; 
}

a {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important; 
}