<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CosySenior - 독거노인통합관제센터</title>
    <link rel="icon" type="image/x-icon" href="static/img/wonjun_logo.png" />

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
     <!-- main.css 연결 -->
    <link rel="stylesheet" href="static/css/swiper.css">
    <!-- main.js 연결 -->
    <script defer src="static/js/swiper.js"></script>
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3"><img src="static/img/cosy_senior.gif" alt="..." style="height:100px;"/></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fa-solid fa-messages"></i>
                    <span>서비스</span>
                </a>
            </li>

          
      

            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
          

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="/static/img/wonjun.png" alt="...",width="400">
                <p class="text-center mb-2"><strong>Power by</strong> ActiveJang</p>
                <a class="btn btn-success btn-sm" href="https://activejang.com/", target="blank">바로가기</a>
            </div>

            
           

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- <a href="/signup" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm; width = 10px" onclick="addlist()">
                        회원가입</a> 

                    <a href="/login" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="addlist()">
                        로그인</a>  -->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/user.jpg">

                            </a>
                            <!-- grow in 뒤에 show를 붙여야지만 메뉴가 보여짐의 문제-->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in show"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item text-gray-900" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                            로그아웃
                                        </a>
                                    </div>
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><strong>서비스</strong></h1>
                     
                    </div>

                    

                    <!-- Content Row -->
                    <div class="text-center image-container">
                        <a href="/messages"><img src="static/img/button/set_call.webp" ,width="10"></a>
                        <a href="/arduino"><img src="static/img/button/iot.webp" ,width="10"></a>
                        <a href="/chatbot"><img src="static/img/button/talk.webp" ,width="10"></a>
                        <a href="/emergency"><img src="static/img/button/emergency.jpeg" ,width="10"></a>
                      </div>
                </div>
            

            </div>
            <!--간격조절용 투명블럭-->
            <table border="0"><tr><td height="50"</td></td></tr></table>   

            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="https://bloom-attic-d6e.notion.site/Ver1-1-CosySenior-547b7e7002ab42c483066be712fac0a3?pvs=4" target="blank"><img src = "static/img/swiper_img/notice.JPG"></div></a>
                <div class="swiper-slide"><a href="https://www.youtube.com/watch?v=4YEcSp4wgig&list=PLxdxzl8yb8vx8-7C0-GMk5qx7IYs1nNMx&index=17" target="blank"><img src = "static/img/swiper_img/use.JPG"></div>
                <div class="swiper-slide"><a href="https://forms.gle/1JjNkXx2BApcWT9q6"><img src = "static/img/swiper_img/recommend.JPG" target="blank"></div>
                <div class="swiper-slide"><a href="https://www.youtube.com/watch?v=4YEcSp4wgig&list=PLxdxzl8yb8vx8-7C0-GMk5qx7IYs1nNMx&index=17" target="blank"><img src = "static/img/swiper_img/eternal.JPG"></div>
                <div class="swiper-slide"><a href="https://activejang.com" target="blank"><img src = "static/img/swiper_img/activejang.JPG"></div>
              </div>
          
              <div class="swiper-pagination"></div>
          
              <div class="swiper-button-prev">
                <div class="material-icons"><</div>
              </div>
              <div class="swiper-button-next">
                <div class="material-icons">></div>
              </div>
              
            </div>


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; CosySenior - 독거노인통합관제센터 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
   


  
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap//static/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart./static/js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

</body>

<!-- Channel Plugin Scripts -->
  <script>
    (function () {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
      }
      var d = window.document;
      var ch = function () {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function (args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "7a96725b-be06-436e-8910-7cc0ecad1ca1"
    });
  </script>


  <script>
    if ('WebSocket' in window) {
      (function () {
        function refreshCSS() {
          var sheets = [].slice.call(document.getElementsByTagName("link"));
          var head = document.getElementsByTagName("head")[0];
          for (var i = 0; i < sheets.length; ++i) {
            var elem = sheets[i];
            var parent = elem.parentElement || head;
            parent.removeChild(elem);
            var rel = elem.rel;
            if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
              var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
              elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
            }
            parent.appendChild(elem);
          }
        }
        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
        var address = protocol + window.location.host + window.location.pathname + '/ws';
        var socket = new WebSocket(address);
        socket.onmessage = function (msg) {
          if (msg.data == 'reload') window.location.reload();
          else if (msg.data == 'refreshcss') refreshCSS();
        };
        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
          console.log('Live reload enabled.');
          sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
        }
      })();
    }
    else {
      console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }

  </script>


  <div id="ch-plugin" class="notranslate">
    <div id="ch-plugin-entry">
      <div style="display: block !important;"></div>
    </div>
    <div id="ch-plugin-script" style="display:none;" class="ch-messenger-hidden"> <iframe id="ch-plugin-script-iframe"
        style="position:relative!important;height:100%!important;width:100%!important;border:none!important;"></iframe>
    </div>
    <style data-styled="active" data-styled-version="5.1.1"></style>
  </div>

</html>