<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }

    </style>
  </head>
  <center>
        <body>
            <div class="input-box">
                <input id="phone_number" type="text" name="phone_number" placeholder="전화번호">
                <label for="id">전화번호</label>
            </div>

            <form method = "post">
            <p><input type="time" id="timeInput" name="timeInput"></p>
            <p><input type="submit" value="Submit"></p>
            </form>
        
        </body>
      </html>
    </center>
  